<div class="container-fluid home-page"style="background-image: url('./img/brooke-lark-wMzx2nBdeng-unsplash.jpg') ;">
    <div class="welcome">
        <h1>welcome to Restaurant !!!</h1>
        <a class="btn btn-primary mt-5" href="/register">Register</a>
        {{#if session }}
            <p class="notify">
                Thank you resgister !!!
            </p>
        {{/if}}
    </div>
</div>